{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}
{% assign forLimit = limit %}

{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}

{% comment %}Check to see if product in the collection matches the main product, if so, add 1 to the limit{% endcomment %}
{% for product in products limit: limit %}
  {% if product.id == skip_product.id  %}
    {% assign forLimit = limit | plus: 1 %}
  {% endif %}
{% endfor %}


<div itemtype="http://schema.org/ItemList" class="products">

{% if collection.handle contains 'dirty' or collection.handle contains 'accords' %}
  {% comment %}
  {% if collection.description != blank %}
    <div class="two-thirds column collection_description alpha">
      <div class="collection-description">
      {% assign collectionDescription = collection.description | split:"<!-- split -->" %}

      <div class="one-half desc-interior">
        {{ collectionDescription[0] }}
      </div>
      <div class="one-half desc-interior img_wrapper">
        {{ collectionDescription[1] }}
      </div>
      </div>
    </div>
  {% endif %}
  {% endcomment %}
{% endif %}
  {% for product in products limit: forLimit %}
    {% if product.id != skip_product.id  %}
      {% unless product.tags contains 'hidden' %}
        {% include 'product-thumbnail', sidebar: sidebar %}

        {% if products_per_row == 2 %}
          {% cycle collection_group: '', new_row %}
        {% elsif products_per_row == 3 %}
          {% cycle collection_group: '', '', new_row %}
        {% elsif products_per_row == 4 %}
          {% cycle collection_group: '', '', '', new_row %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>
