{% include 'include-featured-text' %}

{% schema %}
  {
    "name": "Product It's Pure Alive",
    "class": "headline-section featured-content-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Logo",
        "info": "600 x 600px recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "checkbox",
        "id": "show_divider",
        "label": "Show divider",
        "default": true
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Link label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "options": [
          {
            "value": "regular_text",
            "label": "Regular"
          },
          {
            "value": "featured_text",
            "label": "Large"
          }
        ],
        "default": "featured_text"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "align_left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "center"
      },
	  {
        "type": "header",
        "content": "Parallax"
      },
      {
        "type": "checkbox",
        "id": "parallax_effect",
        "label": "Enable parallax scrolling",
        "default": true
      },
      {
        "type": "range",
        "id": "parallax_image_height",
        "label": "Parallax section height",
        "min": 300,
        "max": 1000,
        "step": 20,
        "default": 600,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Product It's Pure Alive",
        "category": "Text"
      }
    ]
  }
{% endschema %}
