<div class="not_fount_page container main content main-wrapper">

  <div class="sixteen columns">
    <div class="section clearfix">
      <div class="head-four"><img src="https://cdn.shopify.com/s/files/1/0158/2484/6912/files/6.6_oops.png"></div>
      <div class="pagenot">404 - page not Found</div>
      <p class="page-found">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
      <div class="home_btn"><a href="https://heretic-parfum.myshopify.com">HOME PAGE</a>
    </div>
  </div>
  <div class="newsletter-wrapper">{% section 'newsletter' %}</div>
</div>
