{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}
<div class="page-title-image">{% section 'page-title-image-blog' %}</div>
{% section 'blog-template' %}
<div class="newsletter-wrapper">{% section 'newsletter' %}</div>