{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="page-title-image">{% section 'collection-page-banner' %}</div>
{% section 'collection-template' %}
<div class="newsletter-wrapper">{% section 'newsletter' %}</div>
