{% comment %}
  The contents of the collection.sub-collections.liquid template can be found in /sections/collection-sub-collections-template.liquid
{% endcomment %}
<div class="page-title-image">{% section 'collection-page-banner' %}</div>
{% section 'collection-main-template' %}
<div class="newsletter-wrapper">{% section 'newsletter' %}</div>
