<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
      {% section 'beton' %}
      {% section 'beton-sec2' %}
   </div>
</div>
</div>
  
        {% section 'beton-sec4' %}
<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>  
      {% section 'beton-sec3' %}
      <div class="newsletter-wrapper">{% section 'newsletter' %}</div>
    </div>
  </div>
  </div>