<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
      <div class="aboout-sec1">{% section 'about-rare'  %}</div>
      <div class="aboout-sec2">{% section 'about-sec2'  %}</div>
      <div class="aboout-sec3">{% section 'about-sec3'  %}</div>
      <div class="aboout-text">{% section 'featured-text'  %}</div>
    </div>
  </div>
</div>
<div class="aboout-sec4">{% section 'about-sec4'  %}</div>
<div class="newsletter-wrapper">{% section 'newsletter' %}</div>
