<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
      	<div class="film-wrapper">{% section 'film-sec1' %}</div>
      	<div class="film-wrapper">{% section 'film-sec2' %}</div>
      	<div class="film-wrapper">{% section 'film-sec3' %}</div>
    </div>
  </div>
</div>
<div class="newsletter-wrapper">{% section 'newsletter' %}</div>