<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
       {% section 'gallery' %}
      {% section 'featured-blog' %}
      <div class="newsletter-wrapper">{% section 'newsletter' %}</div>
    </div>
  </div>
</div>
