<div class="page-title-image">{% section 'page-title-faq' %}</div>
<div class="container fluid main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
      {% section 'fq' %}
      {% section 'faqs-pure'  %}
    </div>
  </div>
</div>
<div class="newsletter-wrapper">{% section 'newsletter' %}</div>
