{% comment %}
<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
      {% section 'beton' %}
      {% section 'beton-sec2' %}
   </div>
</div>
</div>

        {% section 'beton-sec4' %}
{% endcomment %}
<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
      {% comment %}
      {% section 'beton-sec3' %}
      {% endcomment %}

      {% comment %}
      {% section 'beton-image' %}
      {% endcomment %}

      {{ page.content }}

      <div class="newsletter-wrapper">
        {% section 'newsletter' %}
      </div>
    </div>
  </div>
  </div>
