 <div class="page-title-image">{% section 'page-title-image' %}</div>
<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
     	<div class="iamheretic-wrapper">{% section 'iamheretic-sec1' %}</div>
    </div>
  </div>
  <div class="sixteen columns no-gutters page clearfix">
    {% section 'heretic-image' %}
  </div>
</div>
<div class="newsletter-wrapper">{% section 'newsletter' %}</div>
