<div class="container main content main-wrapper">
  <div class="sixteen columns page clearfix">
    <div>
       {% comment %}{% section 'gallery' %}{% endcomment %}
      {% section 'featured-press' %}
    </div>
  </div>
</div>
<div class="newsletter-wrapper">{% section 'newsletter' %}</div>
